.login {
  background: url("../assets/imgs/login-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.input-item {
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
}
