progress-bar {
  .progress-outer {
    width: 100%;
    padding: 3px;
    text-align: center;
    background-color: map-get($colors, light);
    border: 1px solid map-get($colors, light);
    color: map-get($colors, light);
    border-radius: 5px;
  }

  .progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    background-color: map-get($colors, primary);
  }
}
